{% extends 'base.html' %}

{% block content %}
<nav class="navbar" style="background-color: #e5ccf2;">
    <div class="container-fluid">
      <a class="navbar-brand">DinaBar🍻</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button style="margin-right: 10px" class="btn btn-outline-success" type="submit">Search</button>
        <button style="margin-right: 10px" class="btn btn-outline-success me-2" type="button"><a href="{% url 'wishlist:logout' %}">Logout</a></button>
      </form>
    </div>
  </nav>

<h5 style="padding: 10px;">Nama: </h5>
<p style="padding: 10px;">Dina 🌈 🥳 🌸 🏃‍♀️ 🦋</p>

<table>
    <tr>
    <th style="padding: 10px;">Nama Barang</th>
    <th style="padding: 10px;">Harga Barang</th>
    <th style="padding: 10px;">Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
    <tr>
        <th style="padding: 10px;">{{barang.nama_barang}}</th>
        <th style="padding: 10px;">{{barang.harga_barang}}</th>
        <th style="padding: 10px;">{{barang.deskripsi}}</th>
    </tr>
    {% endfor %}
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  function postNew(e) {
    e.preventDefault()
    const namaBarang = $("#nama_barang").val()
    const hargaBarang = $("#harga_barang").val()
    const deskripsi = $("#deskripsi").val()

    const data = {
      nama_barang: namaBarang,
      harga_barang: hargaBarang,
      deskripsi : deskripsi,
      csrfmiddlewaretoken: "{{ csrf_token }}"
    }

    $.ajax({
      type: 'POST',
      url: '{% url "wishlist:create_wishlist" %}',
      data: data, 
      success: () => {
        alert("Done!")
        fetchData()
      },
      dataType: 'json'
    });
  }

  function writeTable(data) {
    const table = $("#tabel")
    table.empty()
    for (let i = 0; i < data.length; i++) {
      table.append(`
        <tr>
          <td>${data[i].fields.nama_barang}</td>
          <td>${data[i].fields.harga_barang}</td>
          <td>${data[i].fields.deskripsi}</td>
        </tr>
        `)
    }
  }

  function fetchData() {
    $.get("/wishlist/json", writeTable)
  }

  $(document).ready(() => {
    $("#newBtn").click(postNew)
    fetchData()
  })
</script>

<p style="padding: 10px;">Sesi terakhir login: {{ last_login }}</p>

{% endblock content %}